@charset "utf-8";


body{font-size: 1.2rem;}

#wrap{
  margin: 0 auto;
  min-width: 320px;
}

/* Mobile 375 이상  */
.pc_ver{display: none;}
header{padding: 8px 12px; position: relative; height: 44px;
border-bottom: 1px solid #c5c5c5;}
.logo{
  position: absolute;
  top: 8px; left: 12px;}
.logo a{
  display: block;
  float: left;
  width: 129px;
  height: 27px;
  background: url(../img/h_logo_m.png) no-repeat center / 129px auto;
  margin-right: 20px;
  position: relative;
}
.logo a::after{display: block; content: '';
  width: 1px; height: 27px; background-color: #003296;
  position: absolute; top: 0; left: 139px;
  opacity: 0.5;
}
.logo span{
  color: #003296; font-size: 1.2rem;
}
header .h_btn{
  position: absolute;
  top: 8px; right: 12px;
}
header .h_btn > div{display: inline-block;}
header button{
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
}
header .h_btn .btn_lang{
  text-align: right;
  background-image: url(../img/language.png);
  margin-right: 15px;
}
/* header .h_btn .btn_lang:hover + ul{display: block;} */
header .h_btn .btn_h_search{
  background-image: url(../img/h_search.png);
}
header .h_btn .search fieldset{display: none;
  background-color: #fff;
  position: absolute;
  top: -3px; right: -11px;
  width: 140px;
  height: 30px;
  border: 1px solid transparent;
  transition: all 0.5s;
  z-index: 9;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}
.search fieldset input{
  float: left;
  line-height: 25px;
  height: 28px;
  width: 90px;
  border: none;
}
.search fieldset button{
  float: right;
  margin-top: 3px;
  
}
/* header .h_btn .btn_h_search:hover + fieldset{display: block;} */
.lang ul{
  position: absolute; top: 30px; right: 0px;
  display: none;
  width: 100px;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 2;
  border-radius: 5px;
  overflow: hidden;
}
.lang li{
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #003296;
  text-align: center;
  transition: all 0.5s;
}
.lang li:hover{
  background-color: #003296;
}
.lang li:hover a{
  color: #fff;}
header .menu{
  text-align: right;
  position: absolute;
  top: 8px;
  right: 100px;
}
header .menu .btn_menu{
  background-image: url(../img/menu_mobile.png);
}
/* header .menu .btn_menu:hover + nav{display: block;} */
header .menu nav{display: none;
  position: absolute; top: 30px; right: 0;
  width: 100px;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 2;
  border-radius: 5px
}
header .menu nav li{
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #003296;
  text-align: center;
  transition: all 0.3s;
}
header .menu nav li.on a::after{
  content: ""; display: block;
  width: 100%;
  height: 2px;
  background-color: #003296;
}
header .menu nav li:hover a{
  color: #fff;
}


#container .visual01{
  margin-bottom: 35px;
}
#container div img{width: 100%;}
/* #container .visual01 .visual{
  display: block;
  width: 100%;
  height: 300px;
  background: url(../img/visual01_tablet.jpg) no-repeat center / 100% auto;
} */
#container div h2{
  margin: 100px auto 25px;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}
#container .visual01 p,#container .visual02 p {
  text-align: center;
  margin: 20px 0 15px;
}
#container div .detail{
  margin: 0 auto;
  display: block;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  width: 120px;
  height: 30px;
  background: url(../img/more_box.png) no-repeat center / 120px auto;
}
#container .visual02{
  margin-bottom: 70px;
}
#container .visual02 .visual{
  display: block;
  width: 100%;
  height: 300px;
  background: url(../img/visual02_tablet.jpg) no-repeat center / 100% auto;
}

.product fieldset{margin: 12px auto 45px;
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  width: 320px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.product fieldset select{
  font-size: 1.3rem;
  width: 120px;
  height: 20px;
  line-height: 30px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: url(../img/p_arrow.png) no-repeat 100px 10px / 10px auto;
}
.product fieldset input{
  width: 150px;
  border: none;
  line-height: 30px;
  height: 28px;
}
.product fieldset button{
  line-height: 30px;
  width: 20px;
  height: 28px;
  background: url(../img/h_search.png) no-repeat 0px 0px / 20px auto;
}
.prod_move li {
  display: block;
  width: 100%;
}

footer{margin-top: 40px;}
footer .all_bar{
  width: 100%;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  padding: 10px 0;
  position: relative;
}
footer .all_bar button.opne{width: 120px; height: 20px;
  font-size: 1.3rem;
  text-align: left;
  display: block;
  margin: 0 auto;
  padding-left:10px;
  line-height: 20px;
  background: url(../img/all_arrow.png) no-repeat 100px 5px;
  border: 1px solid #999;
}
/* footer .all_bar button.opne:hover + .all_menu{display: block;} */
.all_menu{
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute; top: 0; left: 50%; transform: translatex(-50%);
  z-index: 99;
  background-color: #fff; 
  padding: 0 20px;
  border-top: 1px solid #003296;
  transition: all 0.5s;
  box-sizing: border-box;
}
.all_menu > div{float: left; width: 50%; margin: 0 auto;}
.all_menu h4{font-size: 1.6rem; margin: 20px 0 10px;}
.all_menu dt{padding-left: 10px; font-size: 1.4rem; 
  font-weight: bold;
  margin: 10px 0 5px;}
.all_menu dd{padding-left: 20px;}
.all_menu dd li{margin-bottom: 5px;}
.all_menu button.close{
  width: 15px; height: 15px;
  background: url(../img/close.png) no-repeat center;
  position: absolute; top: 10px; right: 10px;
}

footer .info{
  padding-top: 10px;
  display: block;
  width: 320px;
  margin: 0 auto;
}
footer .info li{float: left; margin-right: 20px; position: relative;}
footer .info li::after{content: ''; display: block; position: absolute;
  top: 3px; right: -10px;
  height: 12px; width: 1px; background-color: #222;}
  footer .info li:last-child::after{display: none;}
footer .info li:last-child{margin-right: 0;}
.f_info{padding: 0 10px;}
footer .sns{
  /* position: absolute;
  top: 0; right: 0; */
  display: block;
  margin: 15px 0 15px;
}
footer .sns li{float: left;
  margin-right: 10px;
}
footer .sns li a{
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
footer .sns li:nth-child(1) a{background-image: url(../img/sns_t.png);}
footer .sns li:nth-child(2) a{background-image: url(../img/sns_y.png);}
footer .sns li:nth-child(3) a{background-image: url(../img/sns_f.png);}
footer .sns li:nth-child(4) a{background-image: url(../img/sns_l.png);}

.f_logo{display: inline-block; width: 90px; height: 20px;
  background: url(../img/f_logo.png) no-repeat center / 90px auto;
  transform: translateY(-18px);
}
.f_info span{font-size: 0.9rem;}

/*********** 375 script ***********/







/***********************780px 이상 Tablet**************************/
@media (min-width:780px){

  header{height: 88px;}
  header .h_btn{
    top: 15px;
  }
  header .h_btn .search fieldset{
    padding: 0 20px;
    width: 300px;
    right: -10px;
  }
  header .menu{
    position: static;
  }
  header .menu .btn_menu{
    display: none;
  }
  header .menu nav{display: block; position: static; width: 100%;
    padding-top: 40px;  
  }
  header .menu nav li{
    float: left;
    border-bottom: 0;
    margin-right: 40px;
  }

  #container .visual01{margin-bottom: 150px;}
  #container .visual02{margin-bottom: 150px;}
  #container div h2{font-size: 3.5rem;}
  #container .visual01 p,
  #container .visual02 p{font-size: 1.6rem;
    margin: 35px 0 50px;
  }


  #container div .detail{
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 45px;
    width: 180px;
    height: 45px;
    background: url(../img/more_box.png) no-repeat center / 180px auto;
    transition: all 0.5s;
  }
  #container div .detail:hover{
    color: #fff;
    background: url(../img/more_box_over.png) no-repeat center / 180px auto;}


  .product fieldset{margin: 40px auto 120px;
  border-radius: 25px;
  padding: 5px 20px;
  height: 50px;
  line-height: 50px;
  width: 640px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.product fieldset select{
  font-size: 2rem;
  width: 180px;
  height: 40px;
  line-height: 40px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: url(../img/p_arrow.png) no-repeat 160px 15px / 15px auto;
}
.product fieldset input{
  font-size: 2rem;
  width: 350px;
  border: none;
  line-height: 40px;
  height: 40px;
}
.product fieldset button{
  float: right;
  margin: 5px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background: url(../img/h_search.png) no-repeat 0px 0px / 30px auto;
}
  .prod_move {position: relative; height: 800px;}
  .mobile_ver li .mobile_img{display:none;}
  .mobile_ver li{width: 50%; height: 400px; position: absolute; top: 0; 
    overflow: hidden;
  }
  .mobile_ver li a{transition: all 0.3s;}
  .mobile_ver li:nth-child(4),.mobile_ver li:nth-child(5){width: 65%;}

  .mobile_ver li:nth-child(1){left: -15px;}
  .mobile_ver li:nth-child(2){left: 20%;}
  .mobile_ver li:nth-child(3){right: 0;}
  .mobile_ver li:nth-child(4){left: -15px; top: 400px;}
  .mobile_ver li:nth-child(5){right: 0; top: 400px;}

  .mobile_ver li a{display: block; width: 100%; height: 400px;
    background-repeat: no-repeat; background-position: left center; background-size: auto 100%;}
  .mobile_ver li:nth-child(1) a{background-image: url(../img/prod_move_tab_01_ver02.png);}
  .mobile_ver li:nth-child(2) a{background-image: url(../img/prod_move_tab_02_ver02.png);}
  .mobile_ver li:nth-child(3) a{background-image: url(../img/prod_move_tab_03_ver02.png);}
  .mobile_ver li:nth-child(4) a{background-image: url(../img/prod_move_tab_04_ver02.png);}
  .mobile_ver li:nth-child(5) a{background-image: url(../img/prod_move_tab_05_ver02.png);}

  .mobile_ver li:hover a{transform: translateX(15px);}
  /* .mobile_ver li:nth-child(1):hover a,.mobile_ver li:nth-child(4):hover a{transform: translateX(-15px);} */

  .f_info{position: relative;}
  footer .sns{position: absolute; top: 0; right: 0; margin: 14px 5px 0 0;}
  footer .f_logo_box{margin-top: 15px;} 

  header .menu nav li:hover{
    background-color: transparent;
  }
  header .menu nav li:hover a{
    color: #222;
  }



  
/*********** 780 script ***********/



}



/*****************************1280 이상 PC*****************************/

@media (min-width:1280px){
  .inner{width: 1280px; margin: 0 auto; position: relative;}
  .tablet_ver{display: none;}
  .pc_ver{display: block;}

  
  .prod_move {height: 400px; width: 1280px; overflow: hidden;}
  .mobile_ver li{width: 40%;}
  .mobile_ver li:nth-child(4),.mobile_ver li:nth-child(5){width: 40%;}

  .mobile_ver li:nth-child(4) a{background-image: url(../img/prod_move_pc_04_ver01.png);}

  .mobile_ver li:nth-child(1){left: -5%;}
  .mobile_ver li:nth-child(2){left: 15%;}
  .mobile_ver li:nth-child(3){left: 35%;}
  .mobile_ver li:nth-child(4){left: 55%; top: 0;}
  .mobile_ver li:nth-child(5){left: 75%; top: 0;}

  
  header .menu nav li a::after{
    transition: all 0.3s;
    content: ""; display: block;
    width: 0%;
    height: 2px;
    background-color: #999;
  }
  header .menu nav li:hover a::after{
    width: 100%;
  }

  .banner{margin: 250px 0 150px;
    width: 100%;}
  
  .news h2{margin-bottom: 25px;}
    
  .news_box{display: block;
    width: 880px;
    margin: 0 auto;
  }
  .news_box .report01{
    float: left;
    width: 300px;
    height: 400px;
    border: 1px solid #c5c5c5;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .news_box .report01 h4{
    font-size: 1.4rem;
    margin: 20px 0 15px;
    position: relative;
  }
  .news_box .report01 h4::after{content: ''; display: block; position: absolute;
    width: 3px; height: 26px; background-color: #003296; top: -3px; left: -15px;
  }
  .news_box .report01 p{
    display: block;
    width: 250px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .news_box .box2{float: right;}
  .news_box .box2_1{
    width: 550px;
    height: 200px;
    border: 1px solid #c5c5c5;
    margin-bottom: 30px;
    padding: 20px;
  }
  .news_box .box2_1 .notice_box{
    width: 50%;
    float: left;
    border-right: 1px solid #c5c5c5;
  }
  .news_box .box2_1 .notice_box h3{
    font-size: 2rem;
    color: #003296;
    margin-bottom: 20px;
  }
  .notice_box li{margin-bottom: 8px;}
  .notice_box li a p{font-size: 1.2rem;}
  .notice_box li a span{font-size: 1rem; color: #999;}
  .news_box .box2_1 .help_box{
    width: 50%;
    float: right;
    padding: 20px 0 0 23px;
  }
  .help_box a{
    display: block;
    width: 100px; height: 135px;
    /* background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto; */
    float: left;
  }
  .help_box a:nth-child(1){/*background-image: url(../img/catalog.png);*/
    margin-right: 30px;}
  /* .help_box a:nth-child(2){background-image: url(../img/FAQ.png);}  */
  .help_box p{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
  }
  .news_box .box2_2 > div{width: 260px; height: 170px;
    border: 1px solid #c5c5c5;
    padding: 15px;
  }
  .news_box .box2_2 > div h4{
    margin: 10px 0 5px;  position: relative;
  }
  .news_box .box2_2 > div h4::after{content: ''; display: block; position: absolute;
    width: 3px; height: 26px; background-color: #003296; top: -3px; left: -15px;
  }
  .news_box .box2_2 > div p{
    width: 210px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .report02{float: left;}
  .report03{float: right;}

  

}


  /*********************  스크립트  ***************************/
.v_txt_box01{transform: translate(0, 50%); transition: all 1s; opacity: 0;}
.v_txt_box02{transform: translate(0, 50%); transition: all 1s; opacity: 0;}
.posi{transform: translate(0, 0) !important;}
.view{opacity: 1 !important;}
.product fieldset{transform: translate(0, 200px); transition: all 1s; opacity: 0;}


  /*********************  스크립트  ***************************/
