@charset "urf-8";

/***************************** SUB02 PAGE ****************************/
#wrap{min-width: 320px;}


/**************** 320 ~ 780 px Mobile *********************/
  #sub02_container .sub02_visual{
    position: relative;
    width: 100%;
    height: 390px;
    background: url(../img/sub02_visual.jpg) no-repeat center / auto  100%;
  }
  #sub02_container .sub02_visual h2{display: none;}
  #sub02_container .sub02_visual .helf{
    padding-top: 80px;
  }
  /* #sub02_container .sub02_visual .helf > div{
    margin: 0 auto;
    width: 320px;
  }
  #sub02_container .sub02_visual .helf > div:nth-child(2),
  #sub02_container .sub02_visual .helf > div:nth-child(3){
    display: none;
  } */
  .sub02_visual{
    height: 230px;
  }
  .sub02_visual h4{
    font-size: 2.0rem;
    color: #fff;
    text-align: center;
    line-height: 30px;
    text-shadow: 0px 0px 15px rgb(0, 0 , 0);
  }
  .sub02_visual .helf ul{
    width: 236px;
    margin: 28px auto 0;
  }
  /* .sub02_visual .helf li{
    float: left;
    margin-bottom: 16px;
    width: calc((100% - 16px) / 2);
    text-align: center;
  }
  .sub02_visual .helf li:nth-child(2n-1){
    margin-right: 16px;
  } */
  .sub02_visual .helf li{
    width: calc((100% - 10px) / 2); 
    float: left;
    margin-bottom: 10px;
  }
  .sub02_visual .helf li:nth-child(2n-1){
    margin-right: 10px;
  }
  .sub02_visual .helf li a{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 16px;
    line-height: 32px;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
  }
  .sub02_visual .paging{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
  }
  .sub02_visual .paging li{float: left;
    margin-right: 10px;
  }
  .sub02_visual .paging li:last-child{margin-right: 0;}
  .sub02_visual .paging li a{
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 5px;
  }
  .sub02_visual .paging li:nth-child(1) a{
    background-color: #003296;
    width: 20px;
    opacity: 1;
  }
  .sub02_visual .search{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    width: 320px;
    height: 40px;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 20px;
    box-shadow: 0 0 15px #000;
    z-index: 99;

  }
  .sub02_visual .search input{
    float: left;
    width: 256px;
    height: 30px;
    background-color: #fff;
    font-size: 1.2rem;
  }
  .sub02_visual .search button{
    float: right;
    padding-top: 24px;
    width: 20px;
    height: 20px;
    background: url(../img/h_search.png) no-repeat center / 20px auto;
  }




  .sub02_often{
    margin-top: 88px;
  }
  .sub02_often h2{
    font-size: 2rem;
    text-align: center;
  }
  .sub02_often .question{margin-top: 20px;}
  .sub02_often .question li{
    margin: 0 auto 15px;
    width: calc(100% - 60px);
    height: 210px;
    box-shadow: -5px 5px 15px #666;
    border-radius: 10px;
    padding: 20px;
  }
  .sub02_often .question li a span{
    display: block;
    width: 100px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: auto 15px;
    background-position: center;
    color: transparent;
    font-size: 0;
  }
  .sub02_often .question li a h4{
    font-size: 2.2rem;
    margin: 35px 0;
    line-height: 36px; 
    height: 72px;
  } 
  .sub02_often .question li.question01 span{
    background-image: url(../img/logo_casiotone.png);
  }
  .sub02_often .question li.question02 span{
    background-image: url(../img/logo_G-Shock.png);
  }
  .sub02_often .question li.question03 span{
    background-image: url(../img/logo_sheen.png);
  }
  .sub02_often .question li a p{
    font-size: 1.2rem;
    color: #999;
    font-weight: bold;
  }
  .sub02_often a.more{
    display: block;
    width: 60px;
    height: 25px;
    margin: 30px auto 0;
    border: 1px solid #000;
    border-radius: 12px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s;
  }
  .sub02_often a.more:hover{border: 1px solid transparent;
    background-color: #003296;
    color: #fff;
  }

  .sub02_reservation{margin-top: 50px ;}
  .sub02_reservation fieldset{
    margin-bottom: 25px;
  }
  .sub02_reservation .reservation,
  .sub02_reservation .check{
    width: calc(100% - 40px);
    margin: 0 auto 20px;
    padding: 20px;
    background-color: #e6ebf2;
    border-radius: 20px;
  }
  .sub02_reservation > div h3{
    font-size: 2rem;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 25px;
    padding: 0 50px 10px 50px;
  }
  .sub02_reservation label{
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  .sub02_reservation input{
    font-size: 1.2rem;
    padding: 0 10px;
  }
  #reser_name,
  #check_name,
  #check_num,
  #reser_num{
    width: 100%;
    height: 35px;
    margin: 0 auto 10px;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
  }

  #reser_adr1{
    width: 20%;
    height: 35px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    border-radius: 10px;
    background-color: #e1e5ec;
    border: none;
  }
  #reser_adr2{
    width: calc(60% - 10px);
    height: 35px;
    float: left;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #e1e5ec;
    border: none;
  }
  .adr_find{
    width: 20%;
    height: 35px;
    float: left;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #333;
    border-radius: 10px;
  }
  #reser_adr3{
    width: 100%;
    height: 35px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #e1e5ec;
    border: none;
  }
  .reser_btn,
  .check_bth{
    display: block;
    width: 90px;
    height: 35px;
    background-color: #003296;
    color: #fff;
    border-radius: 17px;
    margin: 0 auto;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
  }

  /* custom */
  .helf .swiper-horizontal>.helf .swiper-pagination-bullets, .helf .swiper-pagination-bullets.helf .swiper-pagination-horizontal, .helf .swiper-pagination-custom, .helf .swiper-pagination-fraction{
    bottom: 0px;
  }
  .helf .swiper{
    overflow-y: visible;
    overflow-x: hidden;
    height: 260px;
  }
















/**************** 780 ~ 1280 px Tablet *********************/
@media (min-width:780px){

  #sub02_container .sub02_visual{
    height: 580px;
    padding: 35px;
  }
  #sub02_container .sub02_visual h2{
    display: block;
    color: #fff;
    font-size: 2rem;
  }
  #sub02_container .sub02_visual .helf{
    padding-top: 40px;
  }
  .helf .swiper{
    height: 350px;
  }
  .sub02_visual h4{
    font-size: 2.6rem;
    line-height: 48px;
  }

  .sub02_visual .helf ul{
    width: 320px;
  }
  /* .sub02_visual .helf li{
    margin-bottom: 20px;
    width: calc((100% - 20px) / 2);
  }
  .sub02_visual .helf li:nth-child(2n-1){
    margin-right: 20px;
  } */
  .sub02_visual .helf li a{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    font-size: 1.4rem;
    text-align: center;
  }


  .sub02_visual .paging{
    bottom: 140px;
  }


  .sub02_visual .search{
    bottom: 65px;
    transform: translateY(0) translateX(-50%);
    width: 450px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    padding: 5px 20px;
    box-shadow: 0 0 15px #000;

  }
  .sub02_visual .search input{
    float: left;
    width: 300px;
    height: 40px;
    background-color: #fff;
    font-size: 1.4rem;
  }
  .sub02_visual .search button{
    float: right;
    padding-top: 36px;
    width: 20px;
    height: 20px;
    background: url(../img/h_search.png) no-repeat center / 20px auto;
  }

  .sub02_often h2{
    font-size: 2.6rem;
  }
  .sub02_often .question{margin-top: 35px;}
  .sub02_often .question li a span{
    display: block;
    width: 130px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: auto 20px;
    background-position: center;
    color: transparent;
    font-size: 0;
  }
  .sub02_often .question li a h4{
    font-size: 2.6rem;
  } 
  .sub02_often .question li a p{
    font-size: 1.6rem;
    color: #999;
    font-weight: bold;
  }

  .sub02_often a.more{
    width: 120px;
    height: 50px;
    font-size: 2rem;
    border-radius: 25px;
    line-height: 48px;
  }


  .sub02_reservation{margin-top: 80px ;}
  .sub02_reservation .reservation,
  .sub02_reservation .check{
    padding: 20px 10%;
  }
  .sub02_reservation > div h3{
    font-size: 3rem;
    padding-bottom: 20px;
  }
  .sub02_reservation label{
    font-size: 1.8rem;
  }
  .sub02_reservation input{font-size: 1.4rem;}
  #reser_name,
  #check_name,
  #check_num,
  #reser_num{
    height: 50px;
  }

  #reser_adr1{
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  #reser_adr2{
    width: calc(60% - 20px);
    height: 50px;
    float: left;
    margin-right: 10px;
  }
  .adr_find{
    height: 50px;
    font-size: 1.4rem;
  }
  #reser_adr3{
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
  }
  .reser_btn,
  .check_bth{
    font-size: 1.6rem;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
  }




  
}















/**************** 1280 ~  px PC *********************/
@media (min-width:1280px){
  #sub02_container .sub02_visual .helf{
    padding-top: 0px;
  }
  /* .sub02_visual .helf ul{
    width: 100%;
  } */
  .helf .swiper{
    height: 450px;
  }
  /* #sub02_container .sub02_visual .helf{
    content: ''; display: block; clear: both;
  }
  #sub02_container .sub02_visual .helf > div{float: left;
    width: calc((100% - 240px) / 3);
    margin-right: 120px;
  }
  #sub02_container .sub02_visual .helf > div:nth-child(2),
  #sub02_container .sub02_visual .helf > div:nth-child(3){
    display: block;
  }
  #sub02_container .sub02_visual .helf > div:nth-child(3){
    margin-right: 0;
  } */
  .helf{margin-top: 0;}
  /* .helf > div{
    position: relative;
    height: 100px;
    overflow: hidden;
    transition: all 0.5s;
  }
  .helf > div:hover{
    height: 300px;
    transform: translateY(-30%);
  }
  .helf > div:hover button{
    transform: rotate(0deg);
  } */

  
  .helf .swiper-slide{width: 340px;}

  .helf > div h4{opacity: 1.0;
    text-align: left;
    width: 340px;
  }
  .helf > div span{opacity: 0.5;}
  .helfBtn{position: relative;}
  .helfBtn button{
    display: block;
    position: absolute; top: 10px; right: 10px;
    width: 40px;
    height: 22px;
    background: url(../img/sub02_visual_arrow.png) no-repeat center / 40px auto;
    color: transparent;
    transform: rotate(180deg) translate(0, -50%);
    font-size: 0;
    transition: all 0.5s;
  }

  
  .helfBtn.on button{
    transform: rotate(0deg);
  }
  .sub02_visual .helf li{
    margin-bottom: 10px;
  }
  .sub02_visual .helf li a{transition: all 0.5s;}
  .sub02_visual .helf li:hover a{background-color: #003296;}
  .sub02_visual .paging{display: none;}

  
  .sub02_often h2{text-align: left;
    font-size: 3rem;
  }
  .sub02_often .question li{
    float: left;
    margin: 0 auto 15px;
    margin-right: 20px;
    width: calc((100% - 40px) / 3);
    height: 220px;
    border-radius: 10px;
    padding: 20px;
    padding-right: 100px;
  }
  .sub02_often .question li:last-child{margin-right: 0;}
  .sub02_often .question li a h4{
    line-height: 40px;
  }




  .sub02_reservation{margin-top: 80px ;}
  .sub02_reservation .reservation{
    float: left;
  }
  .sub02_reservation .check{
    float: right;
  }
  .sub02_reservation .reservation,
  .sub02_reservation .check{
    width: calc(50% - 20px);
    height: 560px;
    padding: 20px 50px;
  }
  .sub02_reservation > div h3{
    font-size: 3rem;
    padding-bottom: 20px;
  }
  .sub02_reservation label{
    font-size: 1.8rem;
  }
  .sub02_reservation input{font-size: 1.4rem;}
  #reser_name,
  #check_name,
  #check_num,
  #reser_num{
    height: 50px;
  }

  #reser_adr1{
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  #reser_adr2{
    width: calc(60% - 20px);
    height: 50px;
    float: left;
    margin-right: 10px;
  }
  .adr_find{
    height: 50px;
    font-size: 1.4rem;
    transition: all 0.5s;
  }
  .adr_find:hover{
    background-color: #000;
    color: #fff;
  }
  #reser_adr3{
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
  }
  .reser_btn,
  .check_bth{
    font-size: 1.6rem;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    transition: all 0.5s;
  }
  .reser_btn:hover,
  .check_bth:hover{
    color: #003296;
    background-color: #fff;
    border: 1px solid #003296;
    box-sizing: border-box;
  }



}